<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users CRUD</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Users</h1>
    <a href="/users/new">Create New User</a>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <%= user.id %>: <%= user.name %> - <%= user.email %>
                <a href="/users/edit/<%= user.id %>">Edit</a>
                <form action="/users/delete/<%= user.id %>" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>
